[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
simpleitk = "==1.2.0"
numpy = "==1.16.2"
opencv-python = "==3.4.1.15"
matplotlib = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.6"
